{% macro linkWithInfo(url) %}
You may <a href="/userscripts/{{url}}">install it as a user script</a>. 

A user script requires a browser extension to work. Several are available, including <a href="https://violentmonkey.github.io/">Violentmonkey</a> which works in <a href="https://addons.mozilla.org/en-US/firefox/addon/violentmonkey/">Firefox</a>, <a href="https://chrome.google.com/webstore/detail/violent-monkey/jinjaccalgkegednnccohejagnlnfdag">Chrome</a> and <a href="https://microsoftedge.microsoft.com/addons/detail/eeagobfjdenkkddmbclomhiblgggliao">Edge</a>. Safari has <a href="https://apps.apple.com/app/userscripts/id1463298887">Userscripts</a>. Once the extension is installed, simply <a href="/userscripts/{{url}}">use this link to install the user script</a>.
{% endmacro %}
